@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";

@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";

@import "tailwindcss";

@theme {
    /* ---------- Colors ---------- */

    --color-primary: #111827;
    --color-accent: #c8a96a;

    --color-background: #fcfbf8;
    --color-surface: #ffffff;

    --color-text: #374151;
    --color-border: #e5e7eb;

    /* ---------- Fonts ---------- */

    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;

    /* ---------- Radius ---------- */

    --radius-card: 16px;
    --radius-button: 12px;

    /* ---------- Shadow ---------- */

    --shadow-card: 0 12px 30px rgb(17 24 39 / 0.08);

    /* ---------- Transition ---------- */

    --default-transition-duration: 300ms;
}

/* Base Styles */

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--font-body);
        background: var(--color-background);
        color: var(--color-text);

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        text-rendering: optimizeLegibility;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    button {
        cursor: pointer;
        transition: all 300ms ease;
    }

    ::selection {
        background: var(--color-accent);
        color: white;
    }

    /* Scrollbar */

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f4f4f4;
    }

    ::-webkit-scrollbar-thumb {
        background: #c8a96a;
        border-radius: 999px;
        border: 2px solid #f4f4f4;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #b89254;
    }
}
